*
  box-sizing border-box
  margin 0
  padding 0
  border 0
  outline 0
  background transparent
  font-size 100%
  vertical-align baseline
  font-family sans-serif

html, body
  min-height 100vh
  background-color escala-cinza-1
  color escala-cinza-10
  font-size 14px

ol, ul
  list-style none

img
  max-width 100%
  height auto

a
  color inherit
  text-decoration none

.text-opacity
  opacity 0.4



.anime-letter
  transform scaleX(0)
  opacity 0
  font-style normal

.anime-letter:first-child
    text-transform: uppercase
